
build/
.cmake/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
_deps/


.vs/
out/
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.db
*.opendb
*.pdb
*.obj
*.iobj
*.ipdb
*.log


__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.pytest_cache/


*.pyd
*.so
*.dll
*.lib
*.exp

.vscode/

external/SDL2*
external/eigen*
external/
data/
cmake_modules/

*.json